body{
    background-color: rgb(20, 20, 20);
    color: rgb(234, 234, 234);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, h2, h3, summary{
    padding: 5px;
}
summary{
    margin-bottom: 10px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
}
details[open] > summary{
    background-color: rgb(25, 25, 25);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
p, details, form, figure, div > a{
    box-shadow: 0px 0px 8px #000000;
    background-color: rgb(30, 30, 30);
    padding: 10px;
    border-radius: 10px;
}
img{
    border-radius: 10px;
    box-shadow: 0px 0px 8px #000000;
}
div > a{
    border: none;
    line-height: 2.3em;
}
div > a:hover{
    background-color: rgb(35, 35, 35)
}
figure{
    margin-left: 0px;
}
figcaption{
    font-style: italic;
    color: rgb(160, 160, 160);
}
div{
    padding: 10px;
    background-color: rgb(20, 20, 20);
    margin-bottom: 20px;
    box-shadow: 0px 0px 8px #000000;
    border-radius: 10px;
}
a{
    color: rgb(202, 202, 202);
}
a:hover{
    color: rgb(255, 255, 255);
}
input, button{
    padding: 10px;
    min-width: 200px;
    background-color: rgb(25, 25, 25);
    color: rgb(234, 234, 234);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #000000;
    margin-top: 10px;
}
input[type="color"]{
    min-height: 38px;
}
input[type="text"]{
    min-width: 180px;
}
button, input[type="submit"], input[type="color"], input[type="checkbox"], summary{
    cursor: pointer;
}
summary{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
input:focus, button:hover, input[type="submit"]:hover, input[type="color"]:hover{
    background-color: rgb(17, 17, 17);
}
input, input:focus{
    outline: none;
}
::-webkit-scrollbar {
    width: 12px;
  }
::-webkit-scrollbar-track{
    background: rgb(38, 38, 38);
}
::-webkit-scrollbar-thumb{
    background: rgb(49, 49, 49);
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(60, 60, 60);
}